.pagestart2{
    font-family: sans-serif;
    height: 800px;
    width: 100%;
    background-image: url(/images/careerbg.png);
    background-size: cover;
    font-faund-repeat: no-repeat;
    margin-top: 80px;
    position: relative;
    padding: 30px;
    top: -82px;
  }
  
  .loggo{
    height: 80px;
    margin-left: 40px;
  }
  .navigationtoggle{
    position:absolute;
  }
  
  
  ul.nav {
    position: absolute;
    right: 488px;
    top: 53px;
    color: #faebd7;
  }

  li.nav-item1 {
    position: relative;
    right: 382px;
    top: -27px;
  }
  
  li.nav-item2 {
    position: relative;
    right: 285px;
    top: -45px;
  }
  
  li.nav-item3 {
    position: relative;
    right: 164px;
    top: -63px;
  }
  
  li.nav-item4 {
    position: relative;
    right: 79px;
    top: -81px;
  }
  
  li.nav-item5 {
    position: relative;
    right: 1px;
    top: -99px;
  }

  button.bttn7 {
    background-color: #E21737;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
    position: absolute;
    right: -370px;
    top: -15px;
  }
  
  button.btn7:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
  }
  
  button.bttn7:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
  }

  


  .shadow {
    position: absolute;
    left: 0px;
    top: 484px;
  }
  .maintext2 {
    gap: 0px;
    opacity: 0px;
    width: 800px;
    position: absolute;
    height: 60px;
    font-size: xx-large;
    top: 460px;
    font-family: 'Poppins', sans-serif;
    right: 506px;
    color: white;
  }
  
  .para1 {
    position: absolute;
    left: 195px;
    top: 566px;
    color: white;
    font-size: medium;
    font-family: 'Poppins', sans-serif;
  }
  


  h6 {
    font-size: medium;
  }
  
  h4{
    font-size: large;
  }




  section.pageone1 {
    background-color: black;
    position: relative;
    top: 592px;
    width: 108%;
    top: -16px;
    left: 0px;
    height: 1300px;
}



.card.h-1 {
    border-radius: 44px;
    border: 1px solid #636363;
    border-width: 2px;
    width: 430px;
    position: absolute;
    height: 521px;
    left: 71px;
}

.card.h-2 {
    border-radius: 44px;
    border: 1px solid #636363;
    border-width: 2px;
    width: 430px;
    height: 521px;
    position: absolute;
    left: 535px;
}


.card.h-3 {
    border-radius: 44px;
    border: 1px solid #636363;
    border-width: 2px;
    width: 430px;
    height: 521px;
    position: absolute;
    right: 68px;
}




.card.h-4 {
    border-radius: 44px;
    border: 1px solid #636363;
    border-width: 2px;
    width: 430px;
    position: absolute;
    height: 521px;
    left: 71px;
    top: 600px;
}

.card.h-5 {
    border-radius: 44px;
    border: 1px solid #636363;
    border-width: 2px;
    width: 430px;
    height: 521px;
    position: absolute;
    left: 535px;
    top: 600px;
}


.card.h-6 {
    border-radius: 44px;
    border: 1px solid #636363;
    border-width: 2px;
    width: 430px;
    height: 521px;
    position: absolute;
    right: 68px;
    top: 600px;
}

.card1 {
    color: white;
}


.all.cards {
    position: relative;
    top: 143px;
}





button.bttn8 {
    background-color: #E21737;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
    position: absolute;
    left: 50px;
    top: 454px;
}
  
  button.btn8:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
  }
  
  button.bttn8:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
  }


  button.bttn9 {
    background-color: #E21737;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
    position: absolute;
    right: 108px;
    top: 458px;
}
  
  button.btn9:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
  }
  
  button.bttn9:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
  }



  button.bttn10 {
    background-color: #E21737;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
    position: absolute;
    right: 92px;
    top: 457px;
}
  
  button.btn10:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
  }
  
  button.bttn10:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
  }

  img.card-img-top {
    right: -9px;
    position: relative;
    top: 19px;
}





  button.bttn11 {
    background-color: #E21737;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
    position: absolute;
    left: 47px;
    top: 457px;
}
  
  button.btn11:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
  }
  
  button.bttn11:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
  }



  button.bttn12 {
    background-color: #E21737;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
    position: absolute;
    left: 57px;
    top: 457px;
}
  
  button.btn12:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
  }
  
  button.bttn12:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
  }


  button.bttn13 {
    background-color: #E21737;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
    position: absolute;
    right: 85px;
    top: 462px;
}
  
  button.btn13:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 black;
  }
  
  button.bttn13:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
  }


  .site-footer {
    background-color: black;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    top: -16px;
    position: relative;
    color: #737373;
    left: 0px;
}
    .site-footer hr
    {
      border-top-color:#bbb;
      opacity:0.5
    }
    .site-footer hr.small
    {
      margin:20px 0
    }
    .site-footer h6
    {
      color:#fff;
      font-size:16px;
      text-transform:uppercase;
      margin-top:5px;
      letter-spacing:2px
    }
    .site-footer a
    {
      color:#737373;
    }
    .site-footer a:hover
    {
      color:#3366cc;
      text-decoration:none;
    }
    .footer-links
    {
      padding-left:0;
      list-style:none
    }
    .footer-links li
    {
      display:block
    }
    .footer-links a
    {
      color:#737373
    }
    .footer-links a:active,.footer-links a:focus,.footer-links a:hover
    {
      color:#3366cc;
      text-decoration:none;
    }
    .footer-links.inline li
    {
      display:inline-block
    }
    .site-footer .social-icons
    {
      text-align:right
    }
    .site-footer .social-icons a
    {
      width:40px;
      height:40px;
      line-height:40px;
      margin-left:6px;
      margin-right:0;
      border-radius:100%;
      background-color:#33353d
    }
    .copyright-text
    {
      margin:0
    }
    @media (max-width:991px)
    {
      .site-footer [class^=col-]
      {
        margin-bottom:30px
      }
    }
    @media (max-width:767px)
    {
      .site-footer
      {
        padding-bottom:0
      }
      .site-footer .copyright-text,.site-footer .social-icons
      {
        text-align:center
      }
    }
    .social-icons
    {
      padding-left:0;
      margin-bottom:0;
      list-style:none
    }
    .social-icons li
    {
      display:inline-block;
      margin-bottom:4px
    }
    .social-icons li.title
    {
      margin-right:15px;
      text-transform:uppercase;
      color:#96a2b2;
      font-weight:700;
      font-size:13px
    }
    .social-icons a{
      background-color:#eceeef;
      color:#818a91;
      font-size:16px;
      display:inline-block;
      line-height:44px;
      width:44px;
      height:44px;
      text-align:center;
      margin-right:8px;
      border-radius:100%;
      -webkit-transition:all .2s linear;
      -o-transition:all .2s linear;
      transition:all .2s linear
    }
    .social-icons a:active,.social-icons a:focus,.social-icons a:hover
    {
      color:#fff;
      background-color:#29aafe
    }
    .social-icons.size-sm a
    {
      line-height:34px;
      height:34px;
      width:34px;
      font-size:14px
    }
    .social-icons a.facebook:hover
    {
      background-color:#3b5998
    }
    .social-icons a.twitter:hover
    {
      background-color:#00aced
    }
    .social-icons a.linkedin:hover
    {
      background-color:#007bb6
    }
    .social-icons a.dribbble:hover
    {
      background-color:#ea4c89
    }
    @media (max-width:767px)
    {
      .social-icons li.title
      {
        display:block;
        margin-right:0;
        font-weight:600
      }
    }
    
    p.text-justify {
      position: absolute;
      top: 46px;
      left: 393px;
      font-size: medium;
    }
  
    .col-xs-6.col-md-3 {
      position: absolute;
      right: 582px;
      top: 59px;
  }
    
  
  .imggroup {
    position: relative;
    left: -90px;
  }

  .card-title21 {
    position: relative;
    right: -16px;
    top: 17px;
}

.card-title22 {
    position: relative;
    right: -143px;
    top: 3px;
}

.location21 {
    position: absolute;
    top: 340px;
    left: 34px;
}
.location22 {
    position: absolute;
    top: 340px;
    right: 136px;
}





.card-title23 {
    position: relative;
    right: -16px;
    top: 16px;
}



.card-title24 {
    position: relative;
    right: -113px;
    top: -6px;
}

.location23 {
    position: absolute;
    top: 344px;
    right: 317px;
}
.location24 {
    position: absolute;
    top: 345px;
    right: 128px;
}




.card-title25 {
    position: relative;
    right: -16px;
    top: 7px;
}

.card-title26 {
    position: relative;
    right: -158px;
    top: -6px;
}

.location25 {
    position: absolute;
    top: 345px;
    right: 315px;
}
.location26 {
    position: absolute;
    top: 345px;
    right: 116px;
}




.card-title27 {
    position: relative;
    right: -16px;
    top: 7px;
}

.card-title28 {
    position: relative;
    right: -157px;
    top: 2px;
}

.location27 {
    position: absolute;
    top: 341px;
    right: 314px;
}
.location28 {
    position: absolute;
    top: 341px;
    right: 119px;
}






.card-title29 {
    position: relative;
    right: -16px;
    top: 17px;
}

.card-title30 {
    position: relative;
    right: -141px;
    top: 4px;
}

.location29 {
    position: absolute;
    top: 345px;
    right: 312px;
}
.location30 {
    position: absolute;
    top: 345px;
    right: 325px;
}


.location230 {
    position: absolute;
    top: 345px;
    right: 131px;
}




.card-title31 {
    position: relative;
    right: -16px;
    top: 7px;
}

.card-title32 {
    position: relative;
    right: -113px;
    top: -6px;
}

.location31 {
    position: absolute;
    top: 345px;
    right: 323px;
}
.location32 {
    position: absolute;
    top: 345px;
    right: 163px;
}